@import "./styles/Global.css";

.App {
  display: flex;
  flex-direction: column;
}

.header__container {
  background-color: #ffffff;
  height: 10vh;
  margin: 0% 30%;
  text-align: center;
  display: flex;
  padding: 20px;
  margin-bottom: 25px;
}

.messages__container {
  background-color: #ffffff;
  height: 75vh;
  margin: 0% 30%;
  text-align: center;
  overflow-y: scroll;
  display: flex;
  flex-direction: column-reverse; /* Reverse for auto scroll */
  padding: 20px;
}

.form {
  margin-bottom: 10px;
  padding: 20px;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 40%;
  background-color: #ffffff;
}

.input {
  flex: 1;
  margin-right: 5px;
}

.form__control {
  display: flex !important;
  flex-direction: row !important;
}
