@import "../styles/Global.css";

.Chat {
  display: flex;
  flex-direction: column;
}

.header__container {
  background-color: #ffffff;
  margin: 1% 30%;
  padding: 0.5% 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  border-radius: 5px;
}

.header__container .title {
  font-size: 1.6rem;
}

.header__container .developer {
  font-size: 0.7rem;
  font-weight: 300;
}

.header__container .username {
  font-size: 1.7rem;
  font-weight: 700;
  color: #93032e;
}

.messages__container {
  background-color: #ffffff;
  height: 73.5vh;
  margin: 1% 30%;
  text-align: center;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse; /* Change chat direction  */
  border-radius: 5px;
}

.form__container .form {
  padding: 20px;
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 40%;
  background-color: #ffffff;
  border-radius: 5px;
}

.form__container .input {
  flex: 1;
  margin-right: 5px;
}

.form__container .form__control {
  display: flex !important;
  flex-direction: row !important;
}

.message__history {
  display: flex;
  flex-direction: column-reverse; /* Reverse for auto scroll */
}

@media screen and (max-width: 1080px) {
  .header__container .title {
    font-size: 1.5rem;
  }

  .header__container {
    padding: 13px;
    margin: 1% 20%;
  }
  .messages__container {
    margin: 1% 20%;
    height: 75vh;
  }

  .form__container .form {
    margin-bottom: 10px;
    padding: 15px;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 60%;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 900px) {
  .header__container .title {
    font-size: 1.5rem;
  }

  .header__container {
    padding: 13px;
    margin: 1.5% 20%;
  }
  .messages__container {
    margin: 0.25% 20%;
    height: 76.25vh;
  }

  .form__container .form {
    margin-bottom: 10px;
    padding: 15px;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 60%;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 770px) {
  .header__container {
    padding: 13px;
    margin: 1.5% 15%;
  }
  .messages__container {
    margin: 0.5% 15%;
    height: 77.5vh;
  }

  .form__container .form {
    margin-bottom: 6px;
    padding: 15px;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 70%;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 630px) {
  .header__container {
    padding: 13px;
    margin: 1% 2%;
  }
  .messages__container {
    margin: 1% 2%;
    height: 79.25vh;
  }

  .form__container .form {
    margin-bottom: 3px;
    padding: 15px;
    width: 96%;
  }
}

@media screen and (max-width: 550px) {
  .header__container {
    padding: 13px;
    margin: 2% 3%;
  }
  .messages__container {
    margin: 0.5% 3%;
    height: 78.25vh;
  }

  .form__container .form {
    margin-bottom: 1px;
    padding: 15px;
    width: 94%;
  }
}

@media screen and (max-width: 480px) {
  .header__container .title {
    font-size: 1.2rem;
  }

  .header__container {
    padding: 13px;
    margin: 2.5% 5%;
  }
  .messages__container {
    margin: 0.25% 5%;
    height: 78.5vh;
  }

  .form__container .form {
    margin-bottom: 1px;
    padding: 15px;
    width: 90%;
  }
}
