@import "../styles/Global.css";

.Chat {
  display: flex;
  flex-direction: column;
}

.header__container {
  background-color: #ffffff;
  margin: 1% 30%;
  padding: 5px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
  border-radius: 5px;
}

.header__container .title {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1px;
}

.header__container .developer {
  font-size: 0.6rem;
  font-weight: 300;
}

.messages__container {
  background-color: #ffffff;
  height: 70vh;
  margin: 0% 30%;
  text-align: center;
  overflow-y: scroll;
  padding: 20px;
  display: flex;
  flex-direction: column-reverse; /* Change chat direction  */
  border-radius: 5px;
}

.form__container .form {
  margin-bottom: 10px;
  padding: 20px;
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  width: 40%;
  background-color: #ffffff;
  border-radius: 5px;
}

.form__container .input {
  flex: 1;
  margin-right: 5px;
}

.form__container .form__control {
  display: flex !important;
  flex-direction: row !important;
}

.message__history {
  display: flex;
  flex-direction: column-reverse; /* Reverse for auto scroll */
}

@media screen and (max-width: 1080px) {
  .header__container .title {
    font-size: 1.5rem;
  }

  .header__container {
    padding: 13px;
    margin: 0% 20%;
  }
  .messages__container {
    margin: 2% 20%;
    height: 74.75vh;
  }

  .form__container .form {
    margin-bottom: 10px;
    padding: 15px;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 60%;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 770px) {
  .header__container {
    padding: 13px;
    margin: 0% 15%;
  }
  .messages__container {
    margin: 1.75% 15%;
    height: 69vh;
  }

  .form__container .form {
    margin-bottom: 6px;
    padding: 15px;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 70%;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 630px) {
  .header__container {
    padding: 13px;
    margin: 0% 2%;
  }
  .messages__container {
    margin: 2% 2%;
  }

  .form__container .form {
    margin-bottom: 3px;
    padding: 15px;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 96%;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 550px) {
  .header__container {
    padding: 13px;
    margin: 0% 3%;
  }
  .messages__container {
    margin: 2.5% 3%;
  }

  .form__container .form {
    margin-bottom: 1px;
    padding: 15px;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 94%;
    background-color: #ffffff;
  }
}

@media screen and (max-width: 480px) {
  .header__container .title {
    font-size: 1.2rem;
  }

  .header__container {
    padding: 13px;
    margin: 0% 5%;
  }
  .messages__container {
    margin: 4% 5%;
    height: 60vh;
  }

  .form__container .form {
    margin-bottom: 1px;
    padding: 15px;
    position: fixed;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 90%;
    background-color: #ffffff;
  }
}
